[**wizzard-packages**](../../../README.md)

***

[wizzard-packages](../../../README.md) / [react/src](../README.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult** = `object`

Defined in: core/dist/index.d.ts:116

Validation Result Interface

## Properties

### errors?

> `optional` **errors**: `Record`\<`string`, `string`\>

Defined in: core/dist/index.d.ts:118

***

### isValid

> **isValid**: `boolean`

Defined in: core/dist/index.d.ts:117
