[**wizzard-stepper-react**](../README.md)

***

[wizzard-stepper-react](../README.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult** = `object`

Defined in: [types.ts:176](https://github.com/ZizzX/wizzard-stepper-react/blob/3737e6f397efcf35b1868087f7c6e769d30b689f/src/types.ts#L176)

Validation Result Interface

## Properties

### errors?

> `optional` **errors**: `Record`\<`string`, `string`\>

Defined in: [types.ts:178](https://github.com/ZizzX/wizzard-stepper-react/blob/3737e6f397efcf35b1868087f7c6e769d30b689f/src/types.ts#L178)

***

### isValid

> **isValid**: `boolean`

Defined in: [types.ts:177](https://github.com/ZizzX/wizzard-stepper-react/blob/3737e6f397efcf35b1868087f7c6e769d30b689f/src/types.ts#L177)
