[**wizzard-packages**](../../../README.md)

***

[wizzard-packages](../../../README.md) / [core/src](../README.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult** = `object`

Defined in: [core/src/types.ts:117](https://github.com/ZizzX/wizzard-packages/blob/3faafc350c2fba09f986bc003f64611593ef97f2/packages/core/src/types.ts#L117)

Validation Result Interface

## Properties

### errors?

> `optional` **errors**: `Record`\<`string`, `string`\>

Defined in: [core/src/types.ts:119](https://github.com/ZizzX/wizzard-packages/blob/3faafc350c2fba09f986bc003f64611593ef97f2/packages/core/src/types.ts#L119)

***

### isValid

> **isValid**: `boolean`

Defined in: [core/src/types.ts:118](https://github.com/ZizzX/wizzard-packages/blob/3faafc350c2fba09f986bc003f64611593ef97f2/packages/core/src/types.ts#L118)
